openapi: 3.1.0
info:
  title: Sully API
  description: |
    The Sully API is a robust platform designed to empower healthcare technology companies and Electronic Health Record (EHR) vendors by integrating advanced AI-driven clinical capabilities to help save healthcare providers (HCPs) time and make better decisions.
    
    ## V2 Audio Transcriptions
    
    The V2 Audio Transcriptions API provides enhanced audio transcription services using advanced AI models with improved accuracy and language support.
    
    ### Authentication
    
    The API uses API key authentication. You must include both:
    - `X-API-Key`: Your API key
    - `X-Account-Id`: Your account identifier
    
    ### Rate Limiting
    
    The API implements rate limiting to ensure fair usage. Rate limit information is returned in response headers:
    - `X-RateLimit-Limit`: Maximum requests allowed
    - `X-RateLimit-Remaining`: Remaining requests in current window
    - `X-RateLimit-Reset`: When the rate limit resets
    
    ### Audio File Support
    
    Supported audio formats:
    - WAV (audio/wav, audio/wave, audio/x-wav)
    - MP3 (audio/mpeg, audio/mp3)
    - FLAC (audio/flac)
    - OGG (audio/ogg)
    - WebM (audio/webm)
    - MP4 (audio/mp4)
    - M4A (audio/m4a)
    - AAC (audio/aac)
    - Opus (audio/opus)
    
    Maximum file size: 100 MiB (104857600 bytes)
    
    ### Language Support
    
    The API supports multiple languages, including:
    - English (en, en-US) with medical-optimized transcription
    - Spanish (es), German (de), French (fr), Hindi (hi), Italian (it), Japanese (ja), Dutch (nl), Portuguese (pt), and Russian (ru)
    - Additional support for languages including Chinese, Korean, and others
    
    ### Processing
    
    V2 Transcriptions are processed asynchronously:
    1. Upload returns immediately with `pending` status
    2. Processing happens in the background
    3. Status updates to `processing`, then `completed` or `failed`
    4. Webhook notifications are sent when processing completes (if configured)

    ### Dictation

    V2 transcriptions support an optional `dictation` boolean field.
    When enabled, the transcript is formatted for dictation-style output.
    The default is `false`.
  version: "0.3.0"
servers:
  - url: https://api.sully.ai
    description: Sully Production API
  - url: https://api-testing.sully.ai
    description: Sully Testing API
security:
  - apiKeyAuth: []
    accountIdAuth: []
tags:
- name: Notes
  description: Operations for creating and managing clinical notes from medical encounters
- name: Note Styles
  description: Operations for managing templates and formatting styles for clinical notes
- name: Audio Transcriptions
  description: Operations for converting medical audio to text, including streaming capability
- name: V2 Transcriptions
  description: 'V2 Audio transcription operations with enhanced features


    The V2 Transcriptions API allows you to convert audio files to text using advanced AI models.

    Features include:

    - Multi-language support with specialized medical models

    - Speaker diarization (identifying different speakers)

    - Word-level timestamps and confidence scores

    - Automatic audio format conversion

    - Optional dictation-oriented transcript formatting

    - Asynchronous processing with webhook notifications

    '
- name: Utilities
  description: Utility operations for transforming and processing medical data
- name: Codings
  description: Operations for medical coding analysis including ICD-10 and CPT code extraction
- name: Macros
  description: Operations for detecting and expanding text macros in medical documentation
- name: Notes V2
  description: Asynchronous note generation (accept, then poll)
- name: Notes V3
  description: Synchronous note generation (note returned in the response)
- name: OpenAI Compatible
  description: OpenAI-compatible chat completions and model aliases
paths:
  /v1/notes/{noteId}:
    get:
      tags:
      - Notes
      summary: Get a single note by ID
      operationId: getNoteById
      description: Gets a single note based on the ID supplied
      parameters:
      - name: noteId
        in: path
        description: ID of note to get
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/GetNoteResponse'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Notes
      summary: Delete a note by ID
      operationId: deleteNoteById
      description: Deletes a single note based on the ID supplied
      parameters:
      - name: noteId
        in: path
        description: ID of note to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/notes:
    post:
      tags:
      - Notes
      summary: Create a new clinical note
      operationId: createNote
      description: Creates a new note
      requestBody:
        description: Note to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotePayload'
        required: true
      responses:
        '200':
          description: Note response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNoteResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/note-styles:
    post:
      tags:
      - Note Styles
      summary: Create a new note style template
      operationId: createNoteStyle
      description: Creates a note style
      requestBody:
        description: Note style to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteStylePayload'
        required: true
      responses:
        '200':
          description: Note style response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNoteStyleResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/audio/transcriptions/{transcriptionId}:
    get:
      tags:
      - Audio Transcriptions
      summary: Get a single audio transcription by ID
      operationId: getAudioTranscriptionById
      description: Gets a single audio transcription based on the ID supplied
      parameters:
      - name: transcriptionId
        in: path
        description: ID of the transcription to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Audio transcription response
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/GetAudioTranscriptionResponse'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Audio Transcriptions
      summary: Delete an audio transcription by ID
      operationId: deleteAudioTranscriptionById
      description: Deletes a single audio transcription based on the ID supplied
      parameters:
      - name: transcriptionId
        in: path
        description: ID of audio transcription to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Audio transcription deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/audio/transcriptions:
    post:
      tags:
      - Audio Transcriptions
      summary: Create a new audio transcription
      operationId: createAudioTranscription
      description: Creates a new audio transcription
      requestBody:
        description: 'Multipart upload: one audio file, at most 16 text fields (16 KiB each), and 17 parts
          total. Boolean fields use the strings true or false on the wire.'
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAudioTranscriptionPayload'
            encoding:
              audio:
                contentType: audio/wav, audio/wave, audio/x-wav, audio/mpeg, audio/mp3, audio/flac, audio/ogg,
                  audio/webm, audio/mp4, audio/m4a, audio/aac, audio/opus
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudioTranscriptionJsonPayload'
        required: true
      responses:
        '200':
          description: Audio transcription response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAudioTranscriptionResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/audio/transcriptions/stream/token:
    post:
      tags:
      - Audio Transcriptions
      summary: Create a streaming transcription token
      operationId: createStreamingTranscriptionToken
      description: 'Create a temporary authentication token for real-time speech-to-text streaming.


        Use this token when connecting to `/v1/audio/transcriptions/stream`.

        The websocket connection accepts an optional `dictation=true|false` query parameter.

        '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStreamingTranscriptionTokenPayload'
        required: true
      responses:
        '200':
          description: Streaming authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStreamingTranscriptionTokenResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v2/audio/transcriptions:
    post:
      summary: Create transcription
      description: 'Upload an audio file for transcription


        Processing is asynchronous - the endpoint returns immediately with a `pending` status.

        Use `GET /v2/audio/transcriptions/{id}` with the returned transcription ID to check status and retrieve results.

        '
      operationId: createV2Transcription
      tags:
      - V2 Transcriptions
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateV2TranscriptionPayload'
            encoding:
              audio:
                contentType: audio/wav, audio/wave, audio/x-wav, audio/mpeg, audio/mp3, audio/flac, audio/ogg,
                  audio/webm, audio/mp4, audio/m4a, audio/aac, audio/opus
        description: 'Multipart upload: one audio file, at most 16 text fields (16 KiB each), and 17 parts
          total. Boolean fields use the strings true or false on the wire.'
      responses:
        '201':
          description: Transcription created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TranscriptionResponse'
              examples:
                pending_transcription:
                  summary: Newly created transcription
                  value:
                    data:
                      id: tr_abc123def456
                      status: pending
                      created_at: '2024-01-15T10:30:00Z'
                      updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/V2BadRequest'
        '401':
          $ref: '#/components/responses/V2Unauthorized'
        '413':
          $ref: '#/components/responses/V2PayloadTooLarge'
        '422':
          description: Audio duration cannot be verified or exceeds the supported limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
        '429':
          $ref: '#/components/responses/V2RateLimitExceeded'
        '500':
          $ref: '#/components/responses/V2InternalServerError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
        '409':
          description: Billing conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
        '503':
          description: Setup, queue, or billing unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          headers:
            Retry-After:
              description: Retry delay in seconds when supplied; does not make a POST idempotent.
              schema:
                type: integer
                minimum: 0

  /v2/audio/transcriptions/{id}:
    get:
      summary: Get transcription
      description: 'Retrieve a transcription by ID. Returns the current status and results if processing
        is complete.


        The transcription result includes:

        - Full transcript text

        - Word-level timestamps

        - Speaker diarization (when multiple speakers detected)

        - Confidence scores

        '
      operationId: getV2Transcription
      tags:
      - V2 Transcriptions
      parameters:
      - name: id
        in: path
        required: true
        description: Transcription ID
        schema:
          type: string
          example: tr_abc123def456
          minLength: 1
      responses:
        '200':
          description: Transcription retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TranscriptionResponse'
              examples:
                pending_transcription:
                  summary: Transcription still processing
                  value:
                    data:
                      id: tr_abc123def456
                      status: processing
                      created_at: '2024-01-15T10:30:00Z'
                      updated_at: '2024-01-15T10:30:15Z'
                completed_transcription:
                  summary: Completed transcription with results
                  value:
                    data:
                      id: tr_abc123def456
                      status: completed
                      result:
                        channels:
                        - transcript: Hello, this is a test transcription with multiple speakers.
                          confidence: 0.95
                          words:
                          - word: Hello
                            start: 0.0
                            end: 0.5
                            confidence: 0.98
                            speaker: 0
                          - word: this
                            start: 0.6
                            end: 0.8
                            confidence: 0.97
                            speaker: 0
                          - word: is
                            start: 0.9
                            end: 1.0
                            confidence: 0.96
                            speaker: 0
                      created_at: '2024-01-15T10:30:00Z'
                      updated_at: '2024-01-15T10:32:30Z'
                failed_transcription:
                  summary: Failed transcription
                  value:
                    data:
                      id: tr_abc123def456
                      status: failed
                      result:
                        error: Error processing transcription
                      created_at: '2024-01-15T10:30:00Z'
                      updated_at: '2024-01-15T10:31:45Z'
        '400':
          $ref: '#/components/responses/V2BadRequest'
        '401':
          $ref: '#/components/responses/V2Unauthorized'
        '404':
          $ref: '#/components/responses/V2NotFound'
        '429':
          $ref: '#/components/responses/V2RateLimitExceeded'
        '500':
          $ref: '#/components/responses/V2InternalServerError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete V2 transcription
      description: Delete a transcription. This action is irreversible.
      operationId: deleteV2Transcription
      tags:
      - V2 Transcriptions
      parameters:
      - name: id
        in: path
        required: true
        description: Transcription ID
        schema:
          type: string
          example: tr_abc123def456
          minLength: 1
      responses:
        '204':
          description: Transcription deleted successfully
        '400':
          $ref: '#/components/responses/V2BadRequest'
        '401':
          $ref: '#/components/responses/V2Unauthorized'
        '404':
          $ref: '#/components/responses/V2NotFound'
        '429':
          $ref: '#/components/responses/V2RateLimitExceeded'
        '500':
          $ref: '#/components/responses/V2InternalServerError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/utils/text-to-json:
    post:
      tags:
      - Utilities
      summary: Transform unstructured text to structured JSON
      operationId: transformTextToJson
      description: Transforms unstructured text into structured JSON according to a provided schema. This
        utility endpoint extracts specific data patterns from free-form content.
      requestBody:
        description: Text and schema for transformation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToJsonPayload'
        required: true
      responses:
        '200':
          description: JSON data extracted from text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToJsonResponse'
        '400':
          description: Invalid input or schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server-side processing error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/codings:
    post:
      tags:
      - Codings
      summary: Create a new medical coding analysis
      operationId: createCodingAnalysis
      description: Creates a new coding analysis request from medical conversation text
      requestBody:
        description: Text content to analyze for medical coding
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCodingPayload'
        required: true
      responses:
        '200':
          description: Coding analysis request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCodingResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/codings/{codingId}:
    get:
      tags:
      - Codings
      summary: Get a coding analysis by ID
      operationId: getCodingAnalysisById
      description: Retrieves a coding analysis result by ID
      parameters:
      - name: codingId
        in: path
        description: ID of the coding analysis to retrieve
        required: true
        schema:
          type: string
          example: coding_EXAMPLE123456789
      responses:
        '200':
          description: Coding analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCodingResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Coding analysis not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Codings
      summary: Delete a coding analysis by ID
      operationId: deleteCodingAnalysisById
      description: Deletes a coding analysis by ID
      parameters:
      - name: codingId
        in: path
        description: ID of the coding analysis to delete
        required: true
        schema:
          type: string
          example: coding_EXAMPLE123456789
      responses:
        '204':
          description: Coding analysis successfully deleted (No Content)
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Coding analysis not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/macros/detect:
    post:
      tags:
      - Macros
      summary: Detect and expand text macros
      operationId: detectAndExpandMacros
      description: Detects macros in text and provides expanded text with the macros replaced by their expansions
      requestBody:
        description: Text to analyze for macros
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacroDetectPayload'
        required: true
      responses:
        '200':
          description: Macro detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacroDetectResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        default:
          description: Request or service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v2/notes:
    post:
      tags:
      - Notes V2
      summary: Create a note asynchronously
      operationId: createNoteV2
      description: Validates the request, persists a processing note and returns its ID. Poll `GET /v2/notes/{noteId}`
        until `STATUS_DONE` or `STATUS_ERROR`. Disabled accounts receive 404. One successfully generated
        note is billed once; the request is not idempotent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteV2Payload'
      responses:
        '200':
          description: Note accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNoteV2Response'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/NoteV2ErrorResponse'
        '401':
          $ref: '#/components/responses/NoteV2Unauthorized'
        '404':
          $ref: '#/components/responses/NoteV2NotFound'
        '500':
          $ref: '#/components/responses/NoteV2InternalError'
        '503':
          $ref: '#/components/responses/NoteV2Unavailable'
        '504':
          $ref: '#/components/responses/NoteV2Timeout'
        '400':
          $ref: '#/components/responses/NoteV2BadRequest'
        '402':
          $ref: '#/components/responses/NoteV2InsufficientCredits'
        '409':
          $ref: '#/components/responses/NoteV2BillingConflict'
        '422':
          $ref: '#/components/responses/NoteV2UnprocessableEntity'
        '429':
          $ref: '#/components/responses/NoteV2RateLimited'
        '502':
          $ref: '#/components/responses/NoteV2GenerationFailed'

  /v2/notes/{noteId}:
    parameters:
    - name: noteId
      in: path
      required: true
      description: Note ID returned by `POST /v2/notes`
      schema:
        type: string
        pattern: ^note_[A-Za-z0-9_-]+$
        maxLength: 128
    get:
      tags:
      - Notes V2
      summary: Get an asynchronous note
      operationId: getNoteV2
      responses:
        '200':
          description: Note resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNoteV2Response'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/NoteV2ErrorResponse'
        '401':
          $ref: '#/components/responses/NoteV2Unauthorized'
        '404':
          $ref: '#/components/responses/NoteV2NotFound'
        '500':
          $ref: '#/components/responses/NoteV2InternalError'
        '503':
          $ref: '#/components/responses/NoteV2Unavailable'
        '504':
          $ref: '#/components/responses/NoteV2Timeout'
    delete:
      tags:
      - Notes V2
      summary: Delete an asynchronous note
      operationId: deleteNoteV2
      description: Deletes the note resource. Deleting a processing note prevents terminal persistence and
        successful-note billing.
      responses:
        '200':
          description: Note deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNoteV2Response'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/NoteV2ErrorResponse'
        '401':
          $ref: '#/components/responses/NoteV2Unauthorized'
        '404':
          $ref: '#/components/responses/NoteV2NotFound'
        '500':
          $ref: '#/components/responses/NoteV2InternalError'
        '503':
          $ref: '#/components/responses/NoteV2Unavailable'
        '504':
          $ref: '#/components/responses/NoteV2Timeout'

  /v3/notes:
    post:
      tags:
      - Notes V3
      summary: Generate a note synchronously
      operationId: createNoteV3
      description: 'Generates a note and returns it in the response (up to 240 seconds). Nothing is stored:
        there is no GET. Unknown fields and null values are rejected. Disabled accounts receive 404 `endpoint_disabled`.
        A successful request is billed once and is not idempotent.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteV3Payload'
      responses:
        '200':
          description: Generated note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNoteV3Response'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/NoteV3ErrorResponse'
        '400':
          $ref: '#/components/responses/NoteV3BadRequest'
        '401':
          $ref: '#/components/responses/NoteV3Unauthorized'
        '402':
          $ref: '#/components/responses/NoteV3InsufficientCredits'
        '404':
          $ref: '#/components/responses/NoteV3NotFound'
        '502':
          $ref: '#/components/responses/NoteV3GenerationFailed'
        '503':
          $ref: '#/components/responses/NoteV3Unavailable'
        '504':
          $ref: '#/components/responses/NoteV3Timeout'

  /openai/v1/chat/completions:
    post:
      tags:
      - OpenAI Compatible
      summary: Create a chat completion
      operationId: createChatCompletion
      description: 'OpenAI-compatible chat completions. `model` is a Sully alias; unknown values route to
        the account default. With `stream: true` the response is a server-sent event stream of `chat.completion.chunk`
        objects terminated by `data: [DONE]`. The body limit is 32 MiB and the request budget is 1200 seconds.
        Streaming may include comment heartbeats and OpenAI error frames after HTTP 200. The stream then
        ends with [DONE]; usage frames are opt-in and can contain null usage.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionCreateParams'
      responses:
        '200':
          description: Chat completion, or an SSE stream when `stream` is true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
            text/event-stream:
              schema:
                type: string
                description: 'SSE wire stream: data frames contain ChatCompletionChunk or OpenAIErrorResponse
                  JSON, followed by data: [DONE].'
              x-sse-event-schema:
                oneOf:
                - $ref: '#/components/schemas/ChatCompletionChunk'
                - $ref: '#/components/schemas/OpenAIErrorResponse'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/OpenAIErrorResponse'
        '400':
          $ref: '#/components/responses/OpenAIBadRequest'
        '401':
          $ref: '#/components/responses/OpenAIUnauthorized'
        '404':
          $ref: '#/components/responses/OpenAINotFound'
        '500':
          $ref: '#/components/responses/OpenAIInternalError'
        '503':
          $ref: '#/components/responses/OpenAIUnavailable'
        '402':
          $ref: '#/components/responses/OpenAIInsufficientCredits'
        '409':
          $ref: '#/components/responses/OpenAIBillingConflict'
        '413':
          $ref: '#/components/responses/OpenAIPayloadTooLarge'
        '429':
          $ref: '#/components/responses/OpenAIRateLimited'
        '504':
          $ref: '#/components/responses/OpenAITimeout'
      security:
      - apiKeyAuth: []
        accountIdAuth: []
      - compatCompositeBearerAuth: []
      - compatBearerAuth: []
        accountIdAuth: []

  /openai/v1/models:
    get:
      tags:
      - OpenAI Compatible
      summary: List model aliases
      operationId: listModels
      responses:
        '200':
          description: Aliases available to the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/OpenAIErrorResponse'
        '400':
          $ref: '#/components/responses/OpenAIBadRequest'
        '401':
          $ref: '#/components/responses/OpenAIUnauthorized'
        '404':
          $ref: '#/components/responses/OpenAINotFound'
        '500':
          $ref: '#/components/responses/OpenAIInternalError'
        '503':
          $ref: '#/components/responses/OpenAIUnavailable'
      security:
      - apiKeyAuth: []
        accountIdAuth: []
      - compatCompositeBearerAuth: []
      - compatBearerAuth: []
        accountIdAuth: []

  /openai/v1/models/{model}:
    get:
      tags:
      - OpenAI Compatible
      summary: Retrieve a model alias
      operationId: retrieveModel
      parameters:
      - name: model
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Model alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
        default:
          $ref: '#/components/responses/OpenAIErrorResponse'
        '400':
          $ref: '#/components/responses/OpenAIBadRequest'
        '401':
          $ref: '#/components/responses/OpenAIUnauthorized'
        '404':
          $ref: '#/components/responses/OpenAINotFound'
        '500':
          $ref: '#/components/responses/OpenAIInternalError'
        '503':
          $ref: '#/components/responses/OpenAIUnavailable'
      security:
      - apiKeyAuth: []
        accountIdAuth: []
      - compatCompositeBearerAuth: []
      - compatBearerAuth: []
        accountIdAuth: []

components:
  schemas:
    GetNoteResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
          description: Status of the response
        data:
          type: object
          properties:
            id:
              type: string
              example: note_EXAMPLE123456789
              description: Unique identifier for the audio transcription
            payload:
              type: object
              description: Either markdown or JSON representation of the note. Both can be present as well.
              properties:
                markdown:
                  type: string
                  description: Markdown string of the note
                json:
                  type: object
                  description: JSON object of the note. The note style used will determine which fields are present. See the [SOAP Note](/api-reference/schemas/soap-note) example.

            status:
              type: string
              example: STATUS_DONE
              description: Processing status of the note
            timestamp:
              type: object
              properties:
                start:
                  type: integer
                  example: 1731014849730
                  description: Start timestamp
                complete:
                  type: integer
                  example: 1731014853958
                  description: Complete timestamp
        date:
          type: string
          format: date-time
          example: 2024-11-07T21:27:39Z
          description: Timestamp of the response

    CreateNotePayload:
      type: object
      required:
      - transcript
      - noteType
      properties:
        transcript:
          type: string
          description: The raw medical transcript text to be processed into a clinical note
          example: Hey, how's it going? Good good yeah, so what's going on? Yeah, hi I'm Edward yeah hi hi
            Edward. How's it going? Yeah, good good. So I've been having a couple of issues like my back pain
            and knee pain.
          minLength: 1
          maxLength: 100000
        date:
          type: string
          description: Optional encounter date string; ISO-8601 is recommended.
          examples:
          - '2026-09-07'
          - '2026-09-07T12:00:00Z'
        language:
          type: string
          enum:
          - en
          - es
          - fr
          - de
          - it
          - pt
          - ru
          - zh
          default: en
          description: Language code for the generated note output. This setting is independent of the transcript's
            language and defaults to English ('en'). Transcription locale tags such as 'es-419' and the multilingual
            value 'multi' are not accepted.
          example: en
        noteType:
          type: object
          description: Configuration object specifying the style and format of the generated note
          properties:
            description:
              type: string
              description: A brief overview of the note.
            type:
              type: string
              description: 'Determines the type of note to generate.

                - Use `note_style` to provide a note style string

                - Use `note_template` to provide a [Note Template](/api-reference/schemas/note-template) payload

                - Use `soap` for the default SOAP template'
              enum:
              - soap
              - custom
              - note_style
              - note_template
              example: note_style
            template:
              oneOf:
              - type: string
              - $ref: '#/components/schemas/NoteTemplate'
              description: 'Custom template to generate the note. This is applicable only when `type`  is
                set to `note_style` or `note_template`.

                - When `type` is `note_style`, this is a note style string

                - When `type` is `note_template`, this is a [Note Template](/api-reference/schemas/note-template)
                payload'
              example: 'write a standard clinical SOAP note with the following sections: - **Subjective**:
                Contains detailed HPI. - **Objective**: Contains PE and ROS. - **Assessment**: Contains differential
                diagnoses with corresponding plans. - **Patient Instructions**: Contains a list of instructions
                for the patient.'
            includeJson:
              type: boolean
              description: Determines whether to include a JSON payload in the custom note output.  This option
                is applicable only for custom notes and defaults to `false`.  Enabling this will increase
                latency and payload size.
              default: false
              example: true
          required:
          - type
        patientInfo:
          type:
          - object
          - 'null'
          description: Optional patient information
          properties:
            name:
              type: string
              description: Patient's full name
            dateOfBirth:
              type: string
              description: Patient's date of birth in ISO-8601 format (YYYY-MM-DD)
            gender:
              type: string
              description: Patient's gender identity
        previousNote:
          type: string
          description: Reference to a previous note if this is a follow-up. This field is optional.
          maxLength: 50000
        context:
          type: string
          description: Additional context for note generation. This field is optional.
          maxLength: 50000
        instructions:
          type: array
          items:
            type: string
          description: Special instructions for note generation. This field is optional.
          example:
          - Use a professional and concise tone.
          - Include key details without unnecessary elaboration.
          - Ensure clarity for a general audience.
        medicationList:
          type: string
          description: List of up to 50 medications (comma separated) to use as reference for fixing spelling
            errors. This field is optional.
          maxLength: 50000

    CreateNoteResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
          description: Status of the response
        data:
          type: object
          properties:
            noteId:
              type: string
              example: note_EXAMPLE123456789
              description: Unique identifier for the created note
        date:
          type: string
          format: date-time
          example: 2024-11-07T21:24:51Z
          description: Timestamp of the response

    CreateNoteStylePayload:
      type: object
      required:
        - sampleNote
      properties:
        sampleNote:
          type: string
          description: Sample note text to base the style on

        instructions:
          type: array
          items:
            type: string
          description: Optional instructions for note generation
          default: []

    CreateNoteStyleResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the response
          example: ok
        data:
          type: object
          properties:
            template:
              type: string
              description: The created note style
              example: "[POPULATE THIS TEMPLATE WITH THE INFORMATION FROM THE ENCOUNTER ONLY. DO NOT MAKE ANY ASSUMPTIONS. WRITE THE NOTE FROM THE PHYSICIAN'S PERSPECTIVE. DO NOT MISS ANY DETAIL IN EACH SECTION. MAKE SURE EVERY RELEVANT SENTENCE IN THE TRANSCRIPT IS ACCOUNTED FOR IN THE NOTE PRODUCED.]\n\n[INCLUDE DATE OF ENCOUNTER]\n\nCC: [INSERT CHIEF COMPLAINT]\n\nHPI:\n[SUMMARIZE THE HISTORY OF PRESENT ILLNESS IN PARAGRAPH FORM, FOLLOWING THESE GUIDELINES:]\n•..."
        date:
          type: string
          format: date-time
          description: Timestamp of the response

    GetAudioTranscriptionResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
          description: Status of the response
        data:
          $ref: '#/components/schemas/AudioTranscriptionData'
        date:
          type: string
          format: date-time
          example: '2024-11-07T21:27:39Z'
          description: Timestamp of the response
      required:
      - status
      - data
      - date

    CreateAudioTranscriptionPayload:
      type: object
      properties:
        audio:
          type: string
          format: binary
          description: One binary audio file, maximum 100 MiB (104857600 bytes). Send its actual supported
            audio Content-Type; application/octet-stream is rejected.
        language:
          type: string
          description: 'Language code for transcription:

            - English (en-US, en-GB) - Spanish (es) - French (fr) - German (de) - Italian (it) - Portuguese
            (pt) - Dutch (nl) - Japanese (ja) - Korean (ko) - Chinese (zh) - Russian (ru)'
          example: en-US
      required:
      - audio

    CreateAudioTranscriptionResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        data:
          $ref: '#/components/schemas/AudioTranscriptionAcceptedData'
        date:
          type: string
          format: date-time
      required:
      - status
      - data
      - date

    DeleteResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
          description: Status of the response
        date:
          type: string
          format: date-time
          example: 2024-11-21T14:38:24.093Z
          description: Timestamp of the response

    Error:
      description: Legacy route error, shared middleware error, or credential failure.
      anyOf:
      - $ref: '#/components/schemas/ApiError'
      - $ref: '#/components/schemas/AuthenticationError'
      - $ref: '#/components/schemas/V2Error'

    SoapNote:
      type: object
      properties:
        chief_complaints:
          type: array
          items:
            type: string
          description: List of chief complaints
        history_of_present_illness_summary:
          type: string
          description: History of Present Illness summary
        history_of_present_illness:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              detail:
                type: string
        physical_exam:
          type: object
          properties:
            vitals:
              type: object
              properties:
                bp:
                  type: string
                  description: Blood pressure
                heart_rate:
                  type: integer
                  description: Heart rate
                respiratory_rate:
                  type: integer
                  description: Respiratory rate
                temperature:
                  type: integer
                  description: Temperature
            general_appearance:
              type: array
              items:
                type: string
            head:
              type: array
              items:
                type: string
            eyes:
              type: array
              items:
                type: string
            ears:
              type: array
              items:
                type: string
            nose:
              type: array
              items:
                type: string
            throat:
              type: array
              items:
                type: string
            neck:
              type: array
              items:
                type: string
            respiratory:
              type: array
              items:
                type: string
            cardiovascular:
              type: array
              items:
                type: string
            gastrointestinal:
              type: array
              items:
                type: string
            genitourinary:
              type: array
              items:
                type: string
            neurological:
              type: array
              items:
                type: string
            musculoskeletal:
              type: array
              items:
                type: string
            other:
              type: array
              items:
                type: string
        review_of_systems:
          type: object
          properties:
            general:
              type: array
              items:
                type: string
            skin:
              type: array
              items:
                type: string
            head:
              type: array
              items:
                type: string
            ears:
              type: array
              items:
                type: string
            eyes:
              type: array
              items:
                type: string
            nose:
              type: array
              items:
                type: string
            throat:
              type: array
              items:
                type: string
            neck:
              type: array
              items:
                type: string
            breasts:
              type: array
              items:
                type: string
            respiratory:
              type: array
              items:
                type: string
            cardiovascular:
              type: array
              items:
                type: string
            gastrointestinal:
              type: array
              items:
                type: string
            genitourinary:
              type: array
              items:
                type: string
            vascular:
              type: array
              items:
                type: string
            musculoskeletal:
              type: array
              items:
                type: string
            neurological:
              type: array
              items:
                type: string
            hematologic:
              type: array
              items:
                type: string
            endocrine:
              type: array
              items:
                type: string
            psychiatric:
              type: array
              items:
                type: string
        assessment_and_plan:
          type: array
          items:
            type: object
            properties:
              problem:
                type: string
              diagnosis_title:
                type: string
              assessment:
                type: string
              plan:
                type: string
              icd_10:
                type: object
                properties:
                  code:
                    type: string
                  description:
                    type: string
        past_medical_history:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              status:
                type: string
              began:
                type: string
              ended:
                type:
                - string
                - 'null'
        family_history:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              relationship:
                type: string
              status:
                type: string
              began:
                type: string
              ended:
                type:
                - string
                - 'null'
        social_history:
          type: object
          properties:
            occupation:
              type: string
            marital_status:
              type: string
            children:
              type: string
        patient_instructions:
          type: array
          items:
            type: string
        cpt_icd10_code_pairs:
          type: array
          items:
            type: object
            properties:
              cpt:
                type: string
              icd_10:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    description:
                      type: string
        billing_cpt:
          type: object
          additionalProperties:
            type: string
        billing_icd10:
          type: object
          additionalProperties:
            type: string

    BaseSection:
      type: object
      description: Base structure for different content sections.
      properties:
        id:
          type: string
          description: Unique identifier for the section.
        type:
          type: string
          enum:
          - heading
          - text
          - list
          description: Specifies the type of content in the section.
      required:
      - id
      - type

    TextContentProperties:
      type: object
      description: Common properties for text-based content.
      properties:
        bold:
          type: boolean
          description: Whether the text should be bold.
        italic:
          type: boolean
          description: Whether the text should be italicized.
        hideIfEmpty:
          type: boolean
          description: Whether to hide the content if it's empty.
        formatting_style:
          type: string
          enum:
          - markdown
          - plain
          default: markdown
          description: Specifies the formatting style of the text.
        detail_level:
          type: string
          enum:
          - exhaustive
          - detailed
          - standard
          - brief
          - minimal
          default: standard
          description: Determines the level of detail in the text content.
        tone:
          type: string
          enum:
          - formal
          - casual
          - technical
          - friendly
          - instructional
          default: formal
          description: Defines the tone of the generated text.
        emptyPlaceholder:
          type: string
          description: Placeholder text to display if content is empty.
        hide_if_empty:
          type: boolean
        empty_placeholder:
          type: string

    HeadingSection:
      allOf:
      - $ref: '#/components/schemas/BaseSection'
      description: Defines a heading section with properties and children.
      properties:
        type:
          type: string
          enum:
          - heading
        children:
          type: array
          items:
            $ref: '#/components/schemas/Section'
          description: Nested sections under the heading.
        properties:
          $ref: '#/components/schemas/HeadingSectionProperties'
        result:
          type: string
      type: object
      required:
      - properties
      - children

    TextSection:
      allOf:
      - $ref: '#/components/schemas/BaseSection'
      description: Defines a text section with properties and generated results.
      properties:
        type:
          type: string
          enum:
          - text
        properties:
          $ref: '#/components/schemas/TextSectionProperties'
        result:
          type: string
          description: The generated text content.
        prompt:
          type: string
          minLength: 1
      type: object
      required:
      - prompt
      - properties

    ListSection:
      allOf:
      - $ref: '#/components/schemas/BaseSection'
      description: Defines a list section with properties and generated list items.
      properties:
        type:
          type: string
          enum:
          - list
        properties:
          $ref: '#/components/schemas/ListSectionProperties'
        result:
          type: array
          items:
            type: string
          description: The generated list items.
        prompt:
          type: string
          minLength: 1
      type: object
      required:
      - prompt
      - properties

    Section:
      oneOf:
      - $ref: '#/components/schemas/HeadingSection'
      - $ref: '#/components/schemas/TextSection'
      - $ref: '#/components/schemas/ListSection'
      description: Union of different content section types.
      discriminator:
        propertyName: type
        mapping:
          heading: '#/components/schemas/HeadingSection'
          text: '#/components/schemas/TextSection'
          list: '#/components/schemas/ListSection'

    NoteTemplate:
      type: object
      description: Note template. Heading sections may be nested at most two levels deep; text and list sections
        require a non-empty prompt.
      properties:
        id:
          type: string
          description: Unique identifier for the note template.
          example: template_EXAMPLE123456789
        title:
          type: string
          description: Title of the note template.
        globalPrompt:
          type: string
          description: Optional global prompt for content generation.
        sections:
          type: array
          items:
            $ref: '#/components/schemas/Section'
          description: List of sections included in the note template.
        global_prompt:
          type: string
          description: Preferred alias of globalPrompt.
      required:
      - id
      - title
      - sections

    CreateCodingPayload:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: Transcript text of the medical conversation to analyze
          example: >-
            [0:00]
            Doctor: Hi John, good to see you again. How've you been holding up?

            Patient: Hey doc. It's been alright, but I've been feeling kind of off the last few weeks.

    CreateCodingResponse:
      type: object
      description: Response containing the initial status of a newly created coding analysis request
      properties:
        data:
          type: object
          description: Data object containing the coding analysis metadata
          properties:
            id:
              type: string
              description: Unique identifier for the coding analysis request
              example: coding_EXAMPLE123456789
            status:
              type: string
              description: Status of the coding analysis request
              example: pending
              enum:
                - pending
                - processing
                - complete
                - failed
            created_at:
              type: string
              format: date-time
              description: Timestamp when the request was created
              example: 2025-05-08T15:07:54.984Z
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the request was last updated
              example: 2025-05-08T15:07:54.984Z

    GetCodingResponse:
      type: object
      description: Response containing the complete coding analysis results
      properties:
        data:
          type: object
          description: Data object containing the coding analysis and its results
          properties:
            id:
              type: string
              description: Unique identifier for the coding analysis request
              example: coding_EXAMPLE123456789
            status:
              type: string
              description: Status of the coding analysis request
              example: completed
              enum:
                - pending
                - processing
                - completed
                - failed
            created_at:
              type: string
              format: date-time
              description: Timestamp when the request was created
              example: 2025-05-08T15:07:54.984Z
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the request was last updated
              example: 2025-05-08T15:08:22.499Z
            processing_time_ms:
              type: number
              description: Time taken to process the request in milliseconds
              example: 27340.929076
            result:
              type: object
              description: Results of the coding analysis
              properties:
                diagnoses:
                  type: array
                  description: List of diagnoses identified in the text
                  items:
                    $ref: "#/components/schemas/CodingDiagnosis"
                procedures:
                  type: array
                  description: List of procedures identified in the text
                  items:
                    $ref: "#/components/schemas/CodingProcedure"

    CodingDiagnosis:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the diagnosis within the response
          example: diagnosis-example-1
        code:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    description: Coding system identifier
                    example: http://hl7.org/fhir/sid/icd-10-cm
                  code:
                    type: string
                    description: Code value from the specified system
                    example: I10
                  display:
                    type: string
                    description: Human-readable representation of the code
                    example: Essential (primary) hypertension
              example:
                - system: http://hl7.org/fhir/sid/icd-10-cm
                  code: I10
                  display: Essential (primary) hypertension
                - system: http://snomed.info/sct
                  code: "59621000"
                  display: Essential hypertension
            text:
              type: string
              description: Plain text representation of the diagnosis
              example: Hypertension
        text_span:
          type: object
          properties:
            start_char:
              type: integer
              description: Starting character position in the original text
              example: 1022
            end_char:
              type: integer
              description: Ending character position in the original text
              example: 1039
            text:
              type: string
              description: The actual text from the transcript
              example: slightly elevated

    CodingProcedure:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the procedure within the response
          example: procedure-example-1
        code:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    description: Coding system identifier
                    example: http://www.ama-assn.org/go/cpt
                  code:
                    type: string
                    description: Code value from the specified system
                    example: 93000
                  display:
                    type: string
                    description: Human-readable representation of the code
                    example: Electrocardiogram, routine ECG with at least 12 leads; with interpretation and report
            text:
              type: string
              description: Plain text representation of the procedure
              example: EKG
        text_span:
          type: object
          properties:
            start_char:
              type: integer
              description: Starting character position in the original text
              example: 2124
            end_char:
              type: integer
              description: Ending character position in the original text
              example: 2127
            text:
              type: string
              description: The actual text from the transcript
              example: EKG

    TextToJsonPayload:
      type: object
      description: Request payload for transforming unstructured text into structured JSON
      required:
        - text
        - schema
      properties:
        text:
          type: string
          description: Unstructured text to transform
          example: Patient is a 45-year-old male presenting with chest pain...
        schema:
          type: object
          description: >-
            JSON Schema defining the structure to extract from the text. Use `description`
            fields on properties to guide the model — they act as extraction instructions
            (e.g. "only include confirmed diagnoses, not suspected ones").
          example:
            type: object
            description: "Structured clinical summary extracted from a patient encounter note"
            properties:
              patientInfo:
                type: object
                description: "Demographic details about the patient mentioned in the note"
                properties:
                  age:
                    type: number
                    description: "Patient age in years as a number, e.g. 45"
                  gender:
                    type: string
                    description: "Patient gender as stated or implied in the note"
                  allergies:
                    type: ["array", "null"]
                    description: "List of documented allergies; null if none mentioned"
                    items:
                      type: string
                      description: "A single allergy (drug, food, or environmental)"
                required: [age, gender, allergies]
              symptoms:
                type: array
                description: "Active symptoms the patient is currently experiencing or reporting"
                items:
                  type: string
                  description: "A single symptom in plain language, e.g. 'chest pain'"
              diagnosis:
                type: array
                description: "Only confirmed diagnoses — do not include suspected or rule-out conditions"
                items:
                  type: string
                  description: "A single confirmed diagnosis"
              severityLevel:
                type: string
                description: "Overall clinical severity based on the presenting condition and vitals"
                enum: ["mild", "moderate", "severe", "critical"]
              notes:
                type: ["string", "null"]
                description: "Additional clinical notes, provider observations, or contextual information not captured elsewhere"
            required: [patientInfo, symptoms, diagnosis, severityLevel, notes]

    TextToJsonResponse:
      type: object
      description: Response containing the structured JSON data extracted from text
      properties:
        data:
          type: object
          description: Extracted structured data that conforms to the provided schema
          example:
            patientInfo:
              age: 45
              gender: male
              allergies: null
            symptoms:
              - chest pain
            diagnosis: []
            severityLevel: "moderate"
            notes: null

    MacroDetectPayload:
      type: object
      description: Request payload for detecting and expanding macros in medical text
      required:
        - text
        - macros
      properties:
        text:
          type: string
          description: The text to analyze for macros
          example: "The patient is a 54-year-old male here for a routine follow-up. Reports feeling well overall. Quickcheck. Denies any new symptoms. Medications reviewed and no changes needed. No signs of infection. Standard plan applies. Discussed flu vaccine and colonoscopy timeline. Return visit scheduled in six months."
        macros:
          type: array
          description: An array of macro objects to detect in the text
          items:
            type: object
            description: A macro definition with examples and expansion text
            required:
              - id
              - examples
              - expansion_text
            properties:
              id:
                type: string
                description: A unique identifier for the macro
                example: brief_exam_note
              examples:
                type: array
                description: An array of example strings that represent the macro in text
                items:
                  type: string
                  description: An example text string representing the macro
                example:
                  - quickcheck
                  - quick check
                  - quick-check
              expansion_text:
                type: string
                description: The text that should replace the macro when expanded
                example: "General: Patient appears well-nourished and in no acute distress. HEENT: Normocephalic, atraumatic. Heart: Regular rate and rhythm. Lungs: Clear to auscultation bilaterally."

    MacroDetectResponse:
      type: object
      description: Response containing detected macros and expanded text
      properties:
        data:
          type: object
          description: Result data object containing detections and expanded text
          properties:
            detections:
              type: array
              description: Array of detected macros in the text
              items:
                type: object
                description: A single macro detection result
                properties:
                  macro_id:
                    type: string
                    description: The ID of the detected macro
                    example: brief_exam_note
                  text_span:
                    type: object
                    description: Position information about the detected macro in the original text
                    properties:
                      start_char:
                        type: integer
                        description: The starting character position of the detected macro in the original text
                        example: 94
                      end_char:
                        type: integer
                        description: The ending character position of the detected macro in the original text
                        example: 104
                      text:
                        type: string
                        description: The text of the detected macro
                        example: Quickcheck
                  confidence:
                    type: number
                    description: A confidence score between 0 and 1 indicating the system's confidence in the detection
                    example: 0.98
                    minimum: 0
                    maximum: 1
            expanded_text:
              type: string
              description: The original text with all detected macros expanded
              example: "The patient is a 54-year-old male here for a routine follow-up. Reports feeling well overall. General: Patient appears well-nourished and in no acute distress. HEENT: Normocephalic, atraumatic. Heart: Regular rate and rhythm. Lungs: Clear to auscultation bilaterally.. Denies any new symptoms. Medications reviewed and no changes needed. No signs of infection. Plan: Continue current medications. Reassess in 6 months or as needed. Patient advised to follow up for any new or worsening symptoms. applies. Discussed flu vaccine and colonoscopy timeline. Return visit scheduled in six months."

    # V2 Transcription Schemas
    V2LanguageCode:
      type: string
      enum:
        - en
        - en-US
        - es
        - de
        - fr
        - hi
        - it
        - ja
        - nl
        - pt
        - ru
        - bg
        - ca
        - zh
        - zh-CN
        - zh-Hans
        - zh-TW
        - zh-Hant
        - zh-HK
        - cs
        - da
        - da-DK
        - en-AU
        - en-GB
        - en-NZ
        - en-IN
        - et
        - fi
        - nl-BE
        - fr-CA
        - de-CH
        - el
        - hu
        - id
        - ko
        - ko-KR
        - lv
        - lt
        - ms
        - 'no'
        - pl
        - pt-BR
        - pt-PT
        - ro
        - sk
        - es-419
        - sv
        - sv-SE
        - th
        - th-TH
        - tr
        - uk
        - vi
      default: en
      description: Language code for the audio content. Different models are used based on language
      example: en

    V2AudioEncoding:
      type: string
      enum:
        - linear16
        - flac
        - mulaw
        - amr
        - amr_wb
        - ogg_opus
        - speex
        - webm_opus
      description: |
        Audio encoding format. Optional - if not specified, the API will auto-detect.
        Common formats:
        - `linear16`: 16-bit linear PCM
        - `flac`: Free Lossless Audio Codec
        - `mulaw`: μ-law encoding
        - `ogg_opus`: Opus codec in OGG container
        - `webm_opus`: Opus codec in WebM container
      example: linear16

    V2TranscriptionStatus:
      type: string
      enum:
        - pending
        - processing
        - completed
        - failed
      description: |
        Current status of the transcription:
        - `pending`: Transcription has been queued but not started
        - `processing`: Transcription is currently being processed
        - `completed`: Transcription completed successfully
        - `failed`: Transcription failed due to an error

    V2TranscriptionWord:
      type: object
      properties:
        word:
          type: string
          description: The transcribed word
          example: "Hello"
        start:
          type: number
          format: float
          description: Start time in seconds
          example: 0.0
        end:
          type: number
          format: float
          description: End time in seconds
          example: 0.5
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Confidence score for this word
          example: 0.98
        speaker:
          type: integer
          description: Speaker ID (when diarization is enabled)
          example: 0
      required:
        - word
        - start
        - end
        - confidence

    V2TranscriptionChannel:
      type: object
      properties:
        transcript:
          type: string
          description: Full transcript text for this channel
          example: "Hello, this is a test transcription with multiple speakers."
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Overall confidence score for this channel
          example: 0.95
        words:
          type: array
          items:
            $ref: '#/components/schemas/V2TranscriptionWord'
          description: Word-level timestamps and confidence scores
      required:
        - transcript
        - confidence

    V2TranscriptionResult:
      type: object
      properties:
        channels:
          type: array
          items:
            $ref: '#/components/schemas/V2TranscriptionChannel'
          description: Transcription results per audio channel
        error:
          type: string
          description: Error message if transcription failed
          example: "Error processing transcription"
      description: |
        Transcription results. Contains either successful transcription data or error information.

    V2Transcription:
      type: object
      properties:
        id:
          type: string
          description: Unique transcription identifier
          example: tr_abc123def456
        status:
          $ref: '#/components/schemas/V2TranscriptionStatus'
        result:
          $ref: '#/components/schemas/V2TranscriptionResult'
        created_at:
          type: string
          format: date-time
          description: When the transcription was created
          example: '2024-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: When the transcription was last updated
          example: '2024-01-15T10:32:30Z'
        error:
          type: string
          description: Sanitized failure summary when available.
      required:
      - id
      - status
      - created_at
      - updated_at

    V2TranscriptionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/V2Transcription'
      required:
        - data

    V2Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request data"
        details:
          type: object
          description: Additional error details (for validation errors)
          additionalProperties: true
      required:
        - error

    V2ValidationError:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request data"
        details:
          type: object
          description: Field-specific validation errors
          additionalProperties:
            type: string
          example:
            language: "Invalid language code. Must be one of: en, es, de, fr, hi, it, ja, nl, pt, ru, ..."
            encoding: "Invalid encoding format"
      required:
        - error

    V2RateLimitError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - RATE_LIMIT_EXCEEDED
              example: "RATE_LIMIT_EXCEEDED"
            message:
              type: string
              example: "Rate limit exceeded"
          required:
            - code
            - message
      required:
        - error

    CreateNoteV2Payload:
      type: object
      required:
      - transcript
      - noteType
      properties:
        transcript:
          type: string
          minLength: 1
          maxLength: 100000
          description: Raw encounter transcript
        noteType:
          $ref: '#/components/schemas/NoteV2Type'
        language:
          type: string
          enum:
          - en
          - es
          - fr
          - de
          - it
          - pt
          - ru
          - zh
          default: en
          description: Output language; independent of transcript language. Locale tags and multi are not
            accepted.
        patientInfo:
          $ref: '#/components/schemas/NotePatientInfo'
        context:
          type: string
          maxLength: 50000
        previousNote:
          type: string
          maxLength: 50000
        medicationList:
          type: string
          maxLength: 50000
        instructions:
          type: array
          items:
            type: string
        date:
          type: string
          description: Encounter date, e.g. 2026-09-07

    CreateNoteV2Response:
      type: object
      required:
      - status
      - data
      - date
      properties:
        status:
          type: string
          example: ok
          enum:
          - ok
        data:
          $ref: '#/components/schemas/NoteAcceptedData'
        date:
          type: string
          format: date-time

    GetNoteV2Response:
      type: object
      required:
      - status
      - data
      - date
      properties:
        status:
          type: string
          example: ok
          enum:
          - ok
        data:
          $ref: '#/components/schemas/NoteV2'
        date:
          type: string
          format: date-time

    DeleteNoteV2Response:
      type: object
      required:
      - status
      - data
      - date
      properties:
        status:
          type: string
          example: ok
          enum:
          - ok
        data:
          $ref: '#/components/schemas/NoteDeletedData'
        date:
          type: string
          format: date-time

    NoteV2Error:
      description: Domain errors use an envelope; authentication errors contain a top-level message.
      anyOf:
      - $ref: '#/components/schemas/ApiError'
      - $ref: '#/components/schemas/AuthenticationError'

    CreateNoteV3Payload:
      type: object
      additionalProperties: false
      required:
      - transcript
      description: Provide at most one of `templateId` and `template`.
      properties:
        transcript:
          type: string
          minLength: 1
          maxLength: 100000
          pattern: \S
        templateId:
          type: string
          minLength: 1
          maxLength: 256
          description: Trimmed non-empty stored template ID, at most 256 characters after trimming. Mutually
            exclusive with template.
        template:
          $ref: '#/components/schemas/NoteV3Template'
        clinicalContext:
          $ref: '#/components/schemas/NoteV3ClinicalContext'
      not:
        required:
        - templateId
        - template

    NoteV3Template:
      type: object
      additionalProperties: false
      required:
      - sections
      properties:
        instructions:
          type: string
          maxLength: 10000
          description: Global instructions
        sections:
          type: array
          minItems: 1
          maxItems: 50
          description: Section titles must be unique
          items:
            $ref: '#/components/schemas/NoteV3TemplateSection'

    NoteV3ClinicalContext:
      type: object
      additionalProperties: false
      description: All strings in template + clinicalContext combined must not exceed 100000 characters.
      properties:
        patient:
          $ref: '#/components/schemas/NoteV3Patient'
        medications:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/NoteV3Medication'
        pastVisits:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/NoteV3PastVisit'
        contextItems:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/NoteV3ContextItem'

    CreateNoteV3Response:
      type: object
      required:
      - requestId
      - note
      properties:
        requestId:
          type: string
          description: Equals the `X-Request-Id` response header
        note:
          type: string
          description: Generated note text
        usage:
          $ref: '#/components/schemas/NoteV3Usage'

    NoteV3Error:
      type: object
      required:
      - code
      - message
      - requestId
      properties:
        code:
          type: string
          enum:
          - invalid_request
          - unauthorized
          - endpoint_disabled
          - insufficient_credits
          - generation_failed
          - invalid_generation_response
          - generation_unavailable
          - billing_unavailable
          - generation_timeout
        message:
          type: string
        requestId:
          type: string

    ChatCompletionCreateParams:
      type: object
      required:
      - messages
      additionalProperties: true
      properties:
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatCompletionMessageParam'
        model:
          type: string
          description: Sully model alias. Unknown or omitted values use the account default alias.
        stream:
          type: boolean
          default: false
        stream_options:
          $ref: '#/components/schemas/ChatCompletionStreamOptions'
        max_completion_tokens:
          type: integer
          description: Clamped to the supported account/provider range.
        max_tokens:
          type: integer
          deprecated: true
          description: Clamped to the supported account/provider range.
        temperature:
          type: number
          description: Clamped to the supported account/provider range.
        top_p:
          type: number
          description: Clamped to the supported account/provider range.
        seed:
          type: integer
        stop:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        tools:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionTool'
        tool_choice:
          oneOf:
          - type: string
            enum:
            - none
            - auto
            - required
          - $ref: '#/components/schemas/ChatCompletionNamedToolChoice'
        response_format:
          $ref: '#/components/schemas/ChatCompletionResponseFormat'
        logprobs:
          type: boolean
        top_logprobs:
          type: integer
          description: Clamped to the supported account/provider range.
        logit_bias:
          type: object
          additionalProperties:
            type: number
        n:
          type: integer
          description: Always treated as 1
        user:
          type: string
          description: Accepted and ignored by the server.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Accepted and ignored by the server.
        reasoning_effort:
          type:
          - string
          - 'null'
          enum:
          - none
          - minimal
          - low
          - medium
          - high
          - xhigh
          - max
          - null
          description: Omitted/null uses the provider default. Explicit efforts must be supported by the resolved
            endpoint.
      description: 'Supported client input forms. Unknown fields are ignored. Numeric settings are clamped
        to account limits; unusable optional values fall back to defaults. Only stream: true enables streaming.
        n is always treated as 1.'

    ChatCompletionMessageParam:
      type: object
      required:
      - role
      properties:
        role:
          type: string
          enum:
          - system
          - developer
          - user
          - assistant
          - tool
          - function
        content:
          oneOf:
          - type: string
          - type: array
            items:
              $ref: '#/components/schemas/ChatCompletionContentPart'
          - type: 'null'
        name:
          type: string
        tool_call_id:
          type: string
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionMessageToolCall'

    ChatCompletionContentPart:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - text
          - image_url
        text:
          type: string
        image_url:
          $ref: '#/components/schemas/ChatCompletionImageUrl'
      allOf:
      - if:
          properties:
            type:
              const: text
        then:
          required:
          - text
      - if:
          properties:
            type:
              const: image_url
        then:
          required:
          - image_url

    ChatCompletionTool:
      type: object
      required:
      - type
      - function
      properties:
        type:
          type: string
          enum:
          - function
        function:
          $ref: '#/components/schemas/ChatCompletionFunction'

    ChatCompletionMessageToolCall:
      type: object
      required:
      - id
      - type
      - function
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - function
        function:
          $ref: '#/components/schemas/ChatCompletionFunctionCall'

    ChatCompletionUsage:
      type: object
      required:
      - prompt_tokens
      - completion_tokens
      - total_tokens
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
        prompt_tokens_details:
          $ref: '#/components/schemas/ChatCompletionPromptTokenDetails'
        completion_tokens_details:
          $ref: '#/components/schemas/ChatCompletionCompletionTokenDetails'

    ChatCompletion:
      type: object
      required:
      - id
      - object
      - created
      - model
      - choices
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          enum:
          - chat.completion
        created:
          type: integer
          description: Unix seconds
        model:
          type: string
          description: Resolved Sully alias
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionChoice'
        usage:
          $ref: '#/components/schemas/ChatCompletionUsage'
          description: Present only when all token totals are measured; omitted when unavailable.

    ChatCompletionChunk:
      type: object
      required:
      - id
      - object
      - created
      - model
      - choices
      properties:
        id:
          type: string
        object:
          type: string
          enum:
          - chat.completion.chunk
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          description: Empty in the final usage chunk
          items:
            $ref: '#/components/schemas/ChatCompletionChunkChoice'
        usage:
          anyOf:
          - $ref: '#/components/schemas/ChatCompletionUsage'
          - type: 'null'
          description: Only in the final usage frame when requested; null when complete counters are unavailable.

    Model:
      type: object
      required:
      - id
      - object
      - created
      - owned_by
      properties:
        id:
          type: string
          example: sully-clinical-1
        object:
          type: string
          enum:
          - model
        created:
          type: integer
        owned_by:
          type: string
          enum:
          - sully

    ModelList:
      type: object
      required:
      - object
      - data
      properties:
        object:
          type: string
          enum:
          - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'

    OpenAIErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/OpenAIError'

    HeadingSectionProperties:
      type: object
      required:
      - level
      - text
      properties:
        bold:
          type: boolean
        italic:
          type: boolean
        hideIfEmpty:
          type: boolean
        hide_if_empty:
          type: boolean
        level:
          type: number
          minimum: 0
          maximum: 6
        text:
          type: string

    TextSectionProperties:
      allOf:
      - $ref: '#/components/schemas/TextContentProperties'
      type: object
      properties:
        label:
          type: string
          description: An optional label for the text section.
        bold_label:
          type: boolean
          description: Whether the label should be bold.
        italic_label:
          type: boolean
          description: Whether the label should be italicized.
        list_type:
          type: string
          enum:
          - bullet
          - numeric
          description: Defines whether text should be formatted as a bullet or numeric list.
        min_sentences:
          type: number
          description: Minimum number of sentences required.
        max_sentences:
          type: number
          description: Maximum number of sentences allowed.
        min_paragraphs:
          type: number
          description: Minimum number of paragraphs required.
        max_paragraphs:
          type: number
          description: Maximum number of paragraphs allowed.

    ListSectionProperties:
      allOf:
      - $ref: '#/components/schemas/TextContentProperties'
      type: object
      properties:
        list_type:
          type: string
          enum:
          - bullet
          - numeric
          description: Defines whether the list is bulleted or numbered.
        min_items:
          type: number
          description: Minimum number of items required in the list.
        max_items:
          type: number
          description: Maximum number of items allowed in the list.
      required:
      - list_type

    AuthenticationError:
      type: object
      required:
      - message
      properties:
        message:
          type: string

    ApiErrorData:
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
        validationErrors:
          type: object
          additionalProperties: true

    ApiError:
      type: object
      required:
      - status
      - data
      - date
      properties:
        status:
          type: string
          enum:
          - error
        data:
          $ref: '#/components/schemas/ApiErrorData'
        date:
          type: string
          format: date-time
        errorType:
          type: string

    NoteV2Type:
      type: object
      required:
      - type
      additionalProperties: true
      properties:
        type:
          type: string
          enum:
          - soap
          - custom
          - note_style
          - note_template
          description: '`soap` uses the default SOAP template; `custom` and `note_style` take a string `template`;
            `note_template` takes a NoteTemplate object.'
        template:
          oneOf:
          - type: string
          - $ref: '#/components/schemas/NoteTemplate'
        includeJson:
          type: boolean
          default: false
          description: Also return `payload.json`. Increases latency and payload size.
      description: note_template requires a NoteTemplate object. Other styles accept an optional string or
        template object; unknown noteType fields are retained.
      allOf:
      - if:
          properties:
            type:
              const: note_template
          required:
          - type
        then:
          required:
          - template
          properties:
            template:
              $ref: '#/components/schemas/NoteTemplate'

    NotePatientInfo:
      type:
      - object
      - 'null'
      additionalProperties: true
      properties:
        name:
          type: string
        dateOfBirth:
          type: string
          description: ISO-8601 date (YYYY-MM-DD) recommended
        gender:
          type: string
          description: e.g. male, female, other, prefer not to say, unspecified

    NoteAcceptedData:
      type: object
      required:
      - noteId
      properties:
        noteId:
          type: string
          example: note_example_01

    NoteV2:
      type: object
      properties:
        status:
          type: string
          enum:
          - STATUS_PROCESSING
          - STATUS_DONE
          - STATUS_ERROR
        payload:
          $ref: '#/components/schemas/NotePayload'
        error:
          type: string
          description: Fixed failure message on STATUS_ERROR
          example: Failed to generate note
        timestamp:
          $ref: '#/components/schemas/NoteTimestamps'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: Persisted note resource. Fields can be absent on historical records; newly accepted V2
        notes include status, payload, timestamp, created_at and updated_at.

    NotePayload:
      type: object
      properties:
        markdown:
          type: string
        json:
          type: object
          additionalProperties: true
          description: Structured note with snake_case keys; present when `includeJson` was true

    NoteTimestamps:
      type: object
      properties:
        start:
          type: integer
          description: Epoch milliseconds
        complete:
          type: integer
          description: Epoch milliseconds

    NoteDeletedData:
      type: object
      properties:
        message:
          type: string
          example: Note deleted successfully
      required:
      - message

    NoteV3TemplateSection:
      type: object
      additionalProperties: false
      required:
      - title
      - instructions
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Trimmed before validation; titles must be unique after trimming.
        instructions:
          type: string
          maxLength: 10000

    NoteV3Patient:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        age:
          type: integer
          minimum: 0
          maximum: 150
        gender:
          type: string
          minLength: 1
          maxLength: 256

    NoteV3Medication:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        description:
          type: string
          maxLength: 10000

    NoteV3PastVisit:
      type: object
      additionalProperties: false
      required:
      - content
      properties:
        date:
          type: string
          minLength: 1
          maxLength: 256
[...]
